.Ripple_demo {}

.Ripple_demo .item {
    overflow: hidden;
    position: relative;
    display: flex;
    background: #F96;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.Ripple_demo .item .item-label {
    height: 100%;
    width: 100%;
}