.List_Container_demo {
  padding: 5px 4px;
  background-color: #f2f2f2;
  user-select: none;
}

.List_Container_demo ul {
  overflow: auto;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 7px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 0;
}

.List_Container_demo ul li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #e4e4e4;
  color: #676767;
  height: 26px;
  line-height: 26px;
}

.List_Container_demo .left {
  float: left;
  width: 50%;
  height: 37px;
  line-height: 37px;
  margin-top: -5px;
  border-right: 1px solid #e4e4e4;
}

.List_Container_demo .right label {
  margin-left: 5px;
}
