.Tabs {
    /* will-change: transform; */
    touch-action: pan-y;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.Tabs .child-content {
    transition: transform .5s cubic-bezier(0.35, 0, 0.25, 1);
    overflow-x: hidden;
    width: 100%;
    position: absolute;
}

.Tabs li {
    list-style-type: none;
}

.Tabs .container {
    background: #005193;
    width: 100%;
    height: 40px;
    /* overflow: hidden; */
}

.Tabs .container .item {
    float: left;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: color 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.Tabs .active {
    color: #6bf6ff;
}

.Tabs .underline-container {
    background: #005193;
    height: 4px;
}

.Tabs .underline-container .underline {
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1), width 0.5s cubic-bezier(0.35, 0, 0.25, 1), color 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    position: absolute;
    border: 2px #6bf6ff solid;
}