.Calendar {}

.Calendar .week-name {
    width: 100%;
    text-align: center;
}

.Calendar .week-name .cal-text {
    border-radius: 25px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: auto;
    transition: all .7s;
}

.Calendar table {
    border-spacing: 0 10px;
}

.Calendar .container {
    position: relative;
    transition: left 0.5s;
}