.Calendar {
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.Calendar .week-name {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.Calendar .week-name tr {
    border-bottom: 1px solid #ECECEC;
    height: 50px;
}

.Calendar .week-name td {
    position: relative;
}

.Calendar .week-name .cal-text {
    /* box-sizing: border-box; */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: auto;
    transition: background .7s cubic-bezier(0.35, 0, 0.25, 1), color .7s cubic-bezier(0.35, 0, 0.25, 1);
}

.cal-text .cal-badge {
    position: absolute;
    top: 0;
    right: 0;
    /* color: #FE0002;
    font-weight: bold;
    font-size: 20px; */
}

.Calendar table {
    border-spacing: 0 10px;
}

.Calendar .container {
    position: fixed;
    width: 100%;
    height: 0px;
    transition: transform .7s cubic-bezier(0.35, 0, 0.25, 1), opacity .7s cubic-bezier(0.35, 0, 0.25, 1);
}