.Calendar {
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.Calendar .week-name {
    width: 100%;
    text-align: center;
}

.Calendar .week-name .cal-text {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: auto;
    transition: all .7s cubic-bezier(0.35, 0, 0.25, 1);
}

.Calendar table {
    border-spacing: 0 10px;
}

.Calendar .container {
    position: fixed;
    width: 100%;
    height: 0px;
    transition: left .7s cubic-bezier(0.35, 0, 0.25, 1), opacity .7s cubic-bezier(0.35, 0, 0.25, 1);
}