div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.leaflet-popup-content {
    margin: 0;
}

.leafletTempContent {
    width: 220px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
}

.leafletTempContent table {
    width: 100%;
    border-collapse: collapse;
}

.leafletTempContent .item {
    border-bottom: 1px solid #CEDADF;
}

.leafletTempContent .title {
    border-bottom: 1px solid #CEDADF;
    border-radius: 10px 10px 0 0;
}

.leafletTempContent .item:last-child {
    border-bottom: 0;
    border-radius: 0 0 10px 10px;
}

.leafletTempContent .label-name {
    width: 40%;
    text-align: left;
    padding: 5px 0 5px 8px;
}

.leafletTempContent .label-value {
    width: 60%;
    text-align: right;
    padding: 5px 8px 5px 0;
}

.leafletTempContent .title {
    padding: 5px 0;
}

.leaflet_legend {
    font: 400 14px/24px '微软雅黑';
    border: 0px;
    border-radius: 4px;
    overflow: hidden;
}

.leaflet_legend .legend_title {
    text-align: center;
    padding: 0px 10px;
    cursor: pointer;
}

.leaflet_legend .legend_body {
    font-size: 12px;
    padding: 5px;
}

.leaflet_legend .legend_body .legend_icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0px 6px 0px 3px;
    border: 0px;
    border-radius: 2px;
    overflow: hidden;
}

.leaflet_legend.dark {
    background-color: #4f6881;
}

.leaflet_legend.dark .legend_title {
    background-color: #134e87;
    color: #fff;
}

.leaflet_legend.dark .legend_body {
    color: #fff;
}

.leaflet_legend.bright {
    background-color: rgba(229, 242, 250, .9);
}

.leaflet_legend.bright .legend_title {
    background-color: #68c5f9;
    color: #fff;
}

.leaflet_legend.bright .legend_body {
    color: #3d7cc2;
}

.pantoPointDiv {
    z-index: 9998 !important;
}

.pantoPointDiv .animateWrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.pantoPointDiv .animateWrap .animate {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 14px;
    width: 14px;
    z-index: 9999;
    margin-left: -7px;
    margin-top: -7px;
    border: 2px solid #f00;
    border-radius: 50%;
    animation: panto 0.5s linear infinite;
    -moz-animation: panto 0.5s linear infinite;
    -webkit-animation: panto 0.5s linear infinite;
    -o-animation: panto 0.5s linear infinite;
}

@keyframes panto {
    0% {
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
    }
    100% {
        height: 14px;
        width: 14px;
        margin-left: -7px;
        margin-top: -7px;
    }
}

@-moz-keyframes panto {
    0% {
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
    }
    100% {
        height: 14px;
        width: 14px;
        margin-left: -7px;
        margin-top: -7px;
    }
}

@-webkit-keyframes panto {
    0% {
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
    }
    100% {
        height: 14px;
        width: 14px;
        margin-left: -7px;
        margin-top: -7px;
    }
}

@-o-keyframes panto {
    0% {
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
    }
    100% {
        height: 14px;
        width: 14px;
        margin-left: -7px;
        margin-top: -7px;
    }
}

.leaflet-control-latlng {
    font-size: 14px;
    color: #000;
}

.leaflet_measureRange_qd span,
.leaflet_measureArea_qd span,
.leaflet_measureRange_partL span {
    position: relative;
    left: 17px;
    white-space: nowrap;
    color: #7a7a7a;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 0px 3px;
    background-color: #fff;
}

.leaflet_measureRange_close span,
.leaflet_measureArea_close span {
    position: relative;
    display: block;
    background: url('../../../assets/easyLeaflet/close.png') no-repeat;
    height: 12px;
    width: 12px;
    border: 1px solid #f00;
    border-radius: 2px;
    background-size: 100% 100%;
    top: -1px;
    background-color: #fff;
}

.leaflet_measureRange_length>span,
.leaflet_measureArea_length>span {
    position: relative;
    border: 1px solid #f00;
    border-radius: 2px;
    background-color: #fff;
    white-space: nowrap;
    padding: 2px 4px;
}

.leaflet_measureRange_length>span>span,
.leaflet_measureArea_length>span>span {
    white-space: nowrap;
    padding: 0px 3px;
    color: #ff6319;
}

.leaflet_measureArea_close span {
    background: url('../../../assets/easyLeaflet/close_blue.png') no-repeat;
    background-size: 100% 100%;
    border: 1px solid #00aeff;
    background-color: #fff;
}

.leaflet_measureArea_length>span {
    border: 1px solid #00aeff;
}

.pointRightMenuDiv {
    height: 26px;
    line-height: 26px;
    width: 60px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    border: 1px solid #cecece;
    overflow: hidden;
}

.keyValue_box {
    border: 0px;
    border-radius: 4px;
    overflow: hidden;
}

.keyValue_title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.keyValue_row {
    font-size: 14px;
}

.keyValue_row div {
    height: 36px;
    line-height: 36px;
    text-align: center;
    float: left;
}

#mapBox {
    width: 100%;
    height: 100%;
}