.List_Container {
    position: relative;
    overflow-x: hidden;
}

.List_Container .sc-content {
    /* position: relative;
    top: 0; */
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    overflow-x: hidden;
    width: 100%;
}

.List_Container .sc-content img {
    width: 100%;
}

.List_Container .sc-edit-content {
    position: absolute;
    top: 0;
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    min-height: 100%;
}

.List_Container .sc-detail-content {
    position: relative;
    top: 0;
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.List_Container .sc-extend-drawer {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 100px;
    /* top: calc((100% - 100px) / 2); */
    background: rgba(50, 50, 50, .3);
    border-radius: 5px 0 0 5px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.List_Container .sc-extend-add {
    position: fixed;
    bottom: 20px;
    z-index: 1;
    right: 10px;
    display: block;
    height: 30px;
    line-height: 28px;
    width: 30px;
    text-align: center;
    background: RGBa(45, 175, 90, 0.4);
    border-radius: 50%;
}

.List_Container .sc-extend-add .sc-extend-add-icon {
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-decoration: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: .22px;
    font-size: 20px;
    color: #fff;
    font-style: normal;
}

.List_Container .sc-left {
    left: 0;
}

.List_Container .sc-right {
    right: 0;
}

.List_Container .sc-extend-drawer img {
    width: 40px;
    height: 40px;
}

.List_Container .sc-search-drawer {
    /* position: absolute;
    overflow: auto;
    -webkit-overflow-scrolling: touch; */
}

.List_Container .sc-search-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.List_Container .sc-search-drawer .am-drawer-sidebar .am-list {
    padding: 0;
}

.List_Container .am-list .am-list-extra {
    flex-basis: 50%;
}


/* 针对搜索面板的样式调整 */

.List_Container .sc-search-drawer .am-list-item-middle {
    background-color: rgba(0, 0, 0, .4);
}

.List_Container .sc-search-drawer .am-list-extra {
    color: #FFF;
}

.List_Container .sc-search-drawer .am-list-arrow-horizontal {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.List_Container .sc-search-drawer .am-list-content {
    color: #FFF;
}

.List_Container .sc-search-drawer .am-button {
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
}

.List_Container .sc-search-drawer .am-input-control input {
    color: #FFF;
    text-align: right;
}

.List_Container .sc-search-drawer .am-input-label {
    color: #FFF;
}

.List_Container .sc-search-drawer .am-accordion-header {
    background-color: rgba(0, 0, 0, .4);
    color: #FFF;
}


/* 修改文本框灰字颜色 */

.List_Container .sc-search-drawer input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit*/
    color: #FFF;
    text-align: right;
    font-size: 16px;
}

.List_Container .sc-search-drawer input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
    font-size: 16px;
    text-align: right;
}

.List_Container .sc-search-drawer input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
    text-align: right;
    font-size: 16px;
}

.List_Container .sc-search-drawer input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
    font-size: 16px;
    text-align: right;
}

.List_Container .sc-edit-content .am-input-control input {
    text-align: right;
}