.Swiper {
  will-change: transform;
}

.Swiper .refresh {
  position: absolute;
  top: -44px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  transform: (0px 0px) translateZ(0px) scale(1);
}

.Swiper .refresh .refresh-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 25%;
}

.Swiper .refresh .refresh-icon img {
  width: 24px;
  height: 24px;
  display: block;
}


/***************上方刷新样式，下方加载样式*****************/

.Swiper .load {
  position: absolute;
  bottom: -44px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  z-index: 10;
  /* transform: (0px 0px) translateZ(0px) scale(1); */
}

.Swiper .load .load-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 25%;
}

.Swiper .load .load-icon img {
  width: 24px;
  height: 24px;
  display: block;
}


/************************************************/

.Swiper .wrapper {
  position: relative;
  overflow: hidden;
}
