.Drawer .show-drawer {
    width: 400px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 500;
    transition: all .7s cubic-bezier(0.35, 0, 0.25, 1);
}

.Drawer .operate-drawer {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 500;
    transition: all .7s cubic-bezier(0.35, 0, 0.25, 1);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

.Drawer .operate-drawer .scale-wrapper{
    transition: all .7s cubic-bezier(0.35, 0, 0.25, 1);
}